body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.jumbotron-fluid h1 {
  text-align: center;
}

.chatRoom {
  background-color: beige;
  height: 400px;
  max-height: 300%;
  overflow: auto;
}

.testy {
  display: block;
}

.channellist {
  background-color: aliceblue;
  height: 400px;
  max-height: 400px;
  overflow: auto;
}

.submitButton {
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.gang{
  left: 550px;
  position: relative;

}
