body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.jumbotron-fluid h1 {
  text-align: center;
}

.channellist {
  background-color: rgba(211, 211, 211, 0.726);
  height: 70vh;
  overflow: auto;
  padding-top: 5px;
}


.submitButton {
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.logoutButton {
  float: right;
  margin-top: -45px;
}

.channels h3 {
  text-align: center;
}

.leftCol {
  height: 94vh;
  background-color: rgba(32, 34, 37, .6);
}

.rightCol {
  background-color: rgb(134, 133, 130);
  height: 94vh;
}

.btn-primary {
  background-color: rgb(65, 64, 62) !important;
  border-color: black !important;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.btn-primary:hover {
  background-color: black !important;
}

.btn-primary:visited {
  background-color: darkgrey;
}

.btn-create {
  margin-top: 10px;
}

.channelForm {
  margin-top: 10px;
}

.messageBox {
  margin-top: 1px;
}

.chatRoomTitle {
  background-color: aliceblue;
  height: 6vh;
}

.inviteModal {
  height: 94vh;
  background-color: lightsteelblue;
  padding-top: 40px;
}

.chanelListTitle {
  height: 6vh;
  padding-top: 1vh;
}

.mb-3 {
  margin-top: 0vh;
}

.invalidUsername {
  color: red;
}

.messageList {
  overflow: auto;
  height: 70vh;
  padding-top: 5px;
}
.signup{
position:relative;
left:305px
}
.login{

}
